*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 .a1{
    background-color: hsl(0, 2%, 92%);
    overflow: hidden;
}

.a2 h2{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
} 

 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 50px;
}  
.a2{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
} 
.a2 h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
} 
.a2 p{
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
} 
 .a3{
    flex: 1;
    width: 180px;
    margin: auto;
    animation: fadeInRight 2s ease;

} 
 .a3 img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
   
}   
.a2 button{
    display: inline-block;
    background-color:#ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    transition: 0.3s ease;

}
.a2 button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
span:nth-child(1){
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: #90caf9;
    left: 70%;
    top: 75%;
    animation: ani 3s infinite;
    animation-delay: 0.3s;
}
span:nth-child(2){
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #bbdefb;
    left: 70.5%;
    top: 75%;
    animation: ani 0s infinite;
    animation-delay: 0.4s;
}
.two{
    color: #ff6347;
}

/* @media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .about{
        margin: 0px;

    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .about-content{
        width: 100%;
        margin: 35px 0px;
       
    }
    .about-content h2{
        font-size: 30px;
    }
    .about-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .about-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .about-image{
        width: 100%;
    }
} */

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes ani {
    0%{
        transition: 0.7s;
        transform: rotate(0deg);
    }
    20%{
        transition: 0.7s;
        transform: rotate(95deg);
    }
    50%{
        transition: 0.7s;
        transform: rotate(360deg);
    }
    100%{
        transition: 0.7s;
        transform: rotate(0deg);
    }

}