* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.b {
    border: 1px solid orange;
    text-align: center;
    /* transition: background-color 0.3s ease-in-out; */
    margin-right: 10px;
}

.b:hover {
    background-color: #09787e;
    color: white;
}
.b1:hover {
    background-color: #067583;
    color: white;
}

.b3 {
    margin-left: 50px;
    background-color: #ffffff;
    color: black;
    border: 1px solid orange;
    margin-top: 0;
    /* transition: transform 0.3s ease-in-out; */
}
/* .b3:hover {
    transform: scale(1.1);
} */

.b1 {
    border: 1px solid orange;
    margin-left: 1070px;
    height: 30px;
    width: 210px;
    /* transition: background-color 0.3s ease-in-out; */
}

.container {
    background-color: #080111;
    width: 1000px;
    max-width: 100%;
    margin: 40px auto 0;
    border-radius: 10px;
    /* animation: fadeIn 1s ease-in-out; */
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
} */
.more-filters {
    display: block; /* Ensure this is set */
    margin-top: 0; /* Add some spacing if needed */
  }
  
.filter {
    padding-right: 240px;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    margin-left: -20px;
    margin-top: 30px;
}

.filter .item {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .item select,
.filter .item input,
.filter .item button {
    width: 100%;
    height: 50px;
    padding: 50px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
}

.filter .item label {
    display: block;
    width: 40%;
    padding: 0 10px;
}

.filter .item.submit button {
    background-color: #AAB2ED;
    color: #ffff;
  
}

.filter .item.submit button:hover {
    background-color: #6759ff;
}

button {
    padding: 1em 1em;
    margin-left: 1em;
    background-color: #5e5a89;
    color: #ffffff;
    border-radius: 0px;
    margin-top: 0.5em;
    /* transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; */
}

button:hover {
    background-color: #edcae9dd;
    margin-left: 10px;
}

.countResults {
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

#list {
    padding: 20px;
    display: grid;
    column-gap: 3%;
    row-gap: 3%;
    grid-template-columns: 32.66% 32.66% 32.66%;
    row-gap: 10px;
}

#list .item img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 20px;
    /* transition: transform 0.3s ease-in-out; */
    position:sticky;
}

#list .item img:hover {
    transform: scale(1.1);
}

#list .item {
    background-color: #EFD7F4;
    text-align: center;
    border-radius: 10px;
    /* transition: transform 0.3s ease-in-out; */
}

#list .item:hover {
    transform: translateY(-10px);
   
}

#list .item .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

#list .item .price {
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;
}

#search-container {
   margin-right: 500px;

}

#search-container input {
    background-color: rgb(15, 1, 1);
    width: 60%;
    border-radius: 10px;
    padding: 1em 0.3em;
    margin-left: 350px;
    /* transition: border-bottom-color 0.3s ease-in-out; */
}

#search-container input:focus {
    border-bottom-color: #0d0288;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
    transition: background-color 0.3s ease-in-out;
}

#search-container button:hover {
    background-color: #483D8B;
}